age.agekey
^forgetool.exe
^forgetool*
^forgetool
*forgetool.exe
forgetool.exe
forgetool
^clustertool.exe
^clustertool*
^clustertool
*clustertool.exe
clustertool.exe
clustertool
sopssecret.yaml
sopssecret*
*sopssecret*
mounts/